body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

:root {
    --font-family: "Lobster", cursive;
    --yellow-color: #feeaa1;
    --blue-color: #18534f;
    --orange-color: #d6955b;
    --blue-secondary-color: #1ec6bb;
    --white-glacial: #ecf8f6;
}